@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,591;1,591&display=swap');

#caixa {
  display: flex;
  flex-direction: column;
  place-self: center;
  background-color: rgb(255, 254, 245);
  border: 4px solid rgb(255, 227, 101);
  box-shadow: 0 4px 12px rgba(122, 121, 64, 0.575);
  border-radius: 15px;
  margin-top: 10%;
  position: relative;
  padding: 20px;
}