@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,591;1,591&display=swap');


body {
  background: #fffbc0 url('https://www.transparenttextures.com/patterns/food.png');
}


h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


input {
  min-width: 150px;
  max-width: 150px;
  padding: 0 10px;
}

button:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 10px rgb(0, 0, 0);
}

#caixa {
  display: flex;
  flex-direction: column;
  place-self: center;
  background-color: rgb(255, 255, 255);
  border: 3px solid #fae674;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 15px rgb(255, 196, 118);
  margin-top: 10%;
  position: relative;
  padding: 20px;
}

#navegador {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 12.5px;
}

#input-produto,
#input-quantidade {
  border-radius: 5px;
  border: 2px rgb(163, 163, 162) solid;
}

#btn-adicionar {
  color: #ffffff;
  background-color: #7ddb94;
  width: 100px;
  border-radius: 5px;
  border: 2px rgb(104, 101, 101) solid;
  cursor: pointer;
}

#btn-adicionar:hover {
  background-color: #5ebd6e;
  color: white;
  border: 2px solid rgb(136, 130, 130);
}

#resetar{
  font-size: 13px;
  color: #333;
  text-decoration: underline;
  display: inline-block;
  margin-top: 10px;
}


.resultado {
  display: flex;
  gap: 10px;
  margin-bottom: 12.5px;
}

.resultado-produto,
.resultado-quantidade {
  border: 2px solid rgb(136, 130, 130);
  border-radius: 5px;
}

.resultado-btn-remover {
  background-color: rgb(255, 194, 114);
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
  border: 2px solid black;
}

.resultado-btn-remover:hover {
  background-color: #f18e1e;
  color: white;
  transform: scale(1.05);
  transition: all 0.2s ease;
}